build/
MyPython/
*.pyc
*.pyo
*.o
*.log

config.status
libpython2.7.a
python
Misc/python.pc
Modules/ld_so_aix
Modules/config.c
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Parser/pgen
pybuilddir.txt
Makefile.pre
pyconfig.h
python-gdb.py
Makefile
